<div>
    <h1>
        ¡Hola, {{user.firstName}}!
    </h1>
    <div style="text-align:center;">
        <img src="cid:banner">
    </div>
    <p>Le informo que el dia {{ticket.date}} se ha realizado exitosamente la compra con codigo de ticket {{ticket.code}} por un monto de
        {{ticket.amount}} $ en el portal E-Commerce.</p>

    {{#if products}}
    <p>Lista de productos:</p>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Código</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each products as |product|}}
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.code}}</td>
                <td>{{product.price}} $</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}

    <p>Desde ya muchas gracias</p>
    <p>Saludos</p>
</div>