<h1 class="title">Productos</h1>
<div class="container">
    {{#each products}}
    <div class="card" id={{this.id}}>
        <div class="card-body">
            <img class="card-img" src={{this.thumbnail}} alt={{this.title}} />
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Precio: ${{this.price}}</p>
            <a href="products/detail/{{this._id}}">Ver detalles</a>
            <br>
            <a href="products/addToCart/{{this._id}}">Agregar al carrito</a>
        </div>
    </div>
    {{/each}}
</div>
<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}

    <h5>{{page}}</h5>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>
<div class="button-container">
    {{#if idCart}}
    <a href="carts/{{idCart}}">Ver el carrito</a>
    {{else}}
    <span>No hay elementos en el carrito</span>
    {{/if}}
</div>